
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

body {
    font-family: 'Cairo', sans-serif!important;
	background: url(./img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
  padding-bottom: 40px;

}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: aliceblue;
}

.btns{

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
}
.visitor{
  display: flex;
  justify-content: center;
}

/* General button style */
.btn {
	opacity: 0.8;
	border: none;
  font-weight: 500!important;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: .375rem  6.75rem!important;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  height: 60px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
  line-height: 2.5;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
	background: #747474;
	color: #000;
}

.btn-1:hover {
	background: #747474;
}

.btn-1:active {
	background: #747474;
	top: 2px;
}

.btn-1:before {
	background: cornflowerblue;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
   line-height: 2.5;
	font-size: 140%;
	width: 60px;
}

/* Button 2 */
.btn-2 {
	background: #979797;
	color: #000;
}

.btn-2:hover {
	background: #979797;
}

.btn-2:active {
	background: #979797;
	top: 2px;
}

.btn-2:before {
	background: #21d321;

	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
   line-height: 2.5;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-3 {
	background: #afafaf;
	color: #000;
}

.btn-3:hover {
	background: #afafaf;
}

.btn-3:active {
	background: #afafaf;
	top: 2px;
}

.btn-3:before {
	    background: lightcoral;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
   line-height: 2.5;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-4 {
	background: #c6c6c6;
	color: #000;
}

.btn-4:hover {
	background: #c6c6c6;
}

.btn-4:active {
	background: #c6c6c6;
	top: 2px;
}

.btn-4:before {
	background: #ffe000;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
   line-height: 2.5;
	font-size: 140%;
	width: 60px;
}

/* Icons */

.icon-cart:before {
	content: "\f232";
}

.icon-heart:before {
	content: "\f041";
}

.icon-info:before {
	content: "\f0ac";
}

.icon-send:before {
	content: "\f095";
}
